button{
    border: none;
    border-radius: 15px;
}
#new-list{
    border: blue 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    width: 300px;
    height: 200px;
}
#list-name{
    width:60%;
}
#btn-create-list{
    width: 30%;
    height: 40px;
    background-color: blue;
    color: white;
}
#desk{
    display: flex;
    border: blue 2px solid;
    border-radius: 20px;
    width: 99%;
    height: 1000px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
#clear_desk{
    position: absolute;
    left: 85%;
    top: 50px;
    width: 150px;
    height: 25px;
    color: white;
    background-color: blue;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;
    border: blue solid 1px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-left: 20px;

}