#new-list{
    border: blue 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    width: 300px;
    height: 200px;
}
#list-name{
    width:60%;
}
#btn-create-list{
    width: 30%;
    height: 40px;
    background-color: aqua;
    color: white;
}
#desk{
    display: flex;
    border: aqua 2px solid;
    border-radius: 20px;
    width: 99%;
    height: 1000px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.list{
    min-width: 200px;
    height: fit-content;
    padding-left: 10px;
    border: aqua solid 1px;
    border-radius: 100px;
    background-color: aqua;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-left: 20px;

}